@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "fonts";
@import "colors";
body {
  color:$font-grey;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

h1{
  background-color: #f9f9f9;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin:0;
  font-weight: lighter;
}
h2{
  font-size: 22px;
  font-weight: lighter;
}
h3{
  font-size: 18px;
  font-weight: lighter;
}
p{
  font-weight:normal;
}
@import "components/*";